<div class="container-fluid p-0 m-0 ">
	<div class="row m-3 gap-5 p-0">

		<div class="col-lg p-0 m-0 ">
			<div class="d-flex flex-column gap-4 p-0 m-0">
				<div>
					<p class="text-nowrap">{{ name }}</p>
					<p class="text-nowrap">
						Title: {{ chosenMovieTVShow.title }}
					</p>
					<p class="text-nowrap" *ngIf="isTVShow">
						Episode: S{{ chosenMovieTVShow.season }}
							E{{ chosenMovieTVShow.episode_number }}
							- {{ chosenMovieTVShow.episode_name }}
					</p>
				</div>
				<div class="d-flex flex-row gap-4 align-items-center">
					<div>
						<button class="btn btn-primary" (click)="randomise()">
							Randomise!
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg p-0 m-0 ">
			<h6>History</h6>
			<p class="mb-1 text-nowrap" *ngFor="let mtv of history.toArray()">
				{{ mtv.title }}
				<span *ngIf="mtv.season">
					[S{{ mtv.season }} E{{ mtv.episode_number }} - {{mtv.episode_name}}]
				</span>
			</p>
		</div>

	</div>
</div>
